<footer class="footer">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-lg-auto mt-3 mt-lg-0">
				<a href="/">{{ site.title }}</a> is a project of <a href="{{ site.author.url }}"
					target="_blank">{{ site.author.name }}</a>.<br>
				See <a href="{{ site.baseurl }}/license">License</a> page for Themes, templates and snippets.<br>
				Cleanbootstrap website is licensed <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC
					4.0</a><br>
				Based on <a href="https://getbootstrap.com/">Bootstrap</a>.
			</div>
		</div>
	</div>
</footer>