<section class="page-header bg-red-darker mt-0 pt-5">
	<div class="container">
		<div class="d-flex my-6 pt-11 py-6">
			<div class="align-self-center">
				<h1 class="page-title py-5">
					{% if include.icon %}
					<i class="{{ include.icon }} page-title-icon"></i>
					{% endif %}
					{% if page.title %}
					{{ page.title }}
					{% else %}
					{{ site.title }}
					{% endif %}
				</h1>
			</div>
		</div>

		{% if page.url != "/" %}
		{% include breadcrumbs.html %}
		{% endif %}
	</div>

	{% include overlay.html %}

</section>