---
layout: default
post-type: theme
---
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow">
                <img class="card-img-top"
                    src="{{ site.baseurl }}/assets/img/themes/{{ page.theme-author.github_user | escape }}/{{ page.theme-author.github_repo | escape }}/{{ page.theme-author.github_repo | escape }}-preview.jpg"
                    alt="{{ page.title | escape}}">
                <div class="card-body d-flex flex-column">
                    {{ page.content }}

                    <h5 class="mb-0">Features</h5>
                    <ul class="mb-0">
                        {% for feature in page.features %}
                        <li>{{ feature }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top"
                    src="{{ site.baseurl }}/assets/img/themes/{{ page.theme-author.github_user | escape }}/{{ page.theme-author.github_repo | escape }}/{{ page.theme-author.github_repo | escape }}-screenshot.jpg"
                    alt="{{ page.title | escape}}">
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 mb-4">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">License</span>
                        <span><i class="fa fa-balance-scale"></i> <a class="font-weight-bold"
                                href="{{ page.license.url }}" target="_blank">{{ page.license.type }}</a></span>
                    </div>
                    <hr class="my-2">
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Author</span>
                        <span>{{ page.theme-author.name }}</span>
                    </div>
                    <hr class="my-2">

                    <a href="{{ site.baseurl }}/preview/theme-{{ page.slug }}"
                        class="btn btn-block btn-dark bg-green-darkest mt-5" target="_blank">
                        <i class="fa fa-desktop mr-2"></i>Preview
                    </a>
                    <a href="{{ page.item.download }}" class="btn btn-block btn-secondary" target="_blank">
                        <i class="fe fe-download mr-2"></i>Download Now
                    </a>
                    <a href="https://github.com/{{ page.theme-author.github_user | escape }}/{{ page.theme-author.github_repo | escape }}"
                        class="btn btn-block btn-dark" target="_blank">
                        <i class="fe fe-github mr-2"></i>View on GitHub
                    </a>
                </div>
            </div>

            {% include ads/adsense-in-article-white.html %}
        </div>
    </div>
</div>