<script src="{{ site.baseurl }}/assets/lib/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/bootstrap/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/feather/feather.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/easing/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/simple-lightbox/simple-lightbox.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/simple-parallax/simpleParallax.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/waypoints/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/waypoints/shortcuts/sticky.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/core.js"></script>